@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/*** ZONA CABECERA O BARRA DE LOGO Y MENU *****/

header{
    /*border: 1px solid red;*/
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 40px;
    z-index: 100;
    transition: all 0.5s;
}

.logo{
    display: flex;
    align-items: center;
    /*border: 1px solid green;*/
}

.logo img{
   width: 45px;
   margin-right: 7px;
}

.logo h4{
    font-size: 16px;
    font-weight: lighter;
    color: white;
    margin-right: 7px;
    letter-spacing: 1px;
}

.logo h3{
    font-size: 15px;
    
    background: #F04A4A;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    border-radius: 8px;
}

nav{
    /*border: 1px solid red;*/ 
}

nav ul{
    /*border: 1px solid black;*/
    list-style: none;
}

nav  ul li{
    /*border:  1px solid blue;*/
    display: inline-block;
    margin-right: 10px;
}

nav ul li a{
    /*border: 1px solid purple;*/
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: lighter;
    transition: all 0.5s;
}

nav ul li a:hover{
    background: #F04A4A;
    transform: scale(1.05);
    transition: all 0.5s;
}

.menu{
    /*border: 1px solid blue;*/
    display: none;
}

.menu img{
    /*border: 1px solid green;*/
    width: 35px;
    display: block;
}

/** ZONA DE CAMBIO DE COLOR DE LA BARRA DE MENU Y LOGO ***/

header.black{
    background: rgba(0, 0, 0,0.8);
    padding: 10px 40px;
    transition: all 0.5s;
}

/*** ZONA DE FONDO PRINCIPAL *****/

.fondo{
    width: 100%;
    height: 100vh;
    background: url('../img/fondo5.jpeg');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fondo::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background: black;    
    opacity: .3;
}

.fondo h1{
    /*border: 1px solid black;*/
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    color: white;
    margin-left: 40px;
    z-index: 1;
    /*background: rgba(90, 167, 232, 0.2);*/
    /*border-radius: 5px;*/
    /*padding: 9px 0px 0px 35px;*/
}


.fondo a{
    text-decoration: none;
    margin-left: 290px;
    margin-top: 60px;
    color: white;
    font-size: 17px;
    font-weight: lighter;
    padding: 5px 12px;
    background: #F04A4A;

    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    z-index: 1;
}



.fondo a:hover{
    transform: scale(1.2);   
}

/***  ZONA NOSOTROS ****/

.contskew{
    /*border: 1px solid red;*/
    position: relative;
    overflow: hidden;
    height: 120px;
}

.skew{
    /*background: rgb(89, 173, 255);*/
    background: rgba(0, 59, 119, .7);
    height: 200px;
    transform: skew(0deg,-5deg) translateY(-140px);
}

.contskew .titulonosotros, .tituloservicios, .tituloclientes, .titulotrabajos, .titulocontactanos{
    position: absolute;
    top: 25px;
    left: 40px;
}

.titulonosotros , .tituloservicios, .tituloclientes, .titulotrabajos, .titulocontactanos{
    /*border: 1px solid red;*/
    display: flex;
    align-items: center;
}

.titulonosotros img , .tituloservicios img, .tituloclientes img{

}

.titulonosotros h2 , .tituloservicios h2, .tituloclientes h2, .titulotrabajos h2, .titulocontactanos h2{
    color: white;
    margin-left: 20px;
    font-size: 32px;
    font-weight: lighter;
}

.contnosotros{
    /*border: 1px solid red;*/
    display: flex;
}

.conceptoymivi{
    /*border: 1px solid blue;*/
    width: 100%;
}

.concepto{
    /*border: 1px solid purple;*/
}
.concepto h3{
    /*border: 1px solid olive;*/
    max-width: 530px;
    width: 100%;
    text-align: justify;
    margin: auto;
    padding: 30px 0px;

    font-weight: lighter;
}

.misionyvision{
    /*border: 1px solid orange;*/
    display: flex;
    padding: 20px 30px;
}

.mision{
    /*border: 1px solid green;*/
    width: 100%;
    padding-left: 90px;
}
.mision h2{
    /*border: 1px solid red;*/
    font-size: 20px;
    margin: auto;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background: #F04A4A;
    color: white;
    
}
.mision h3{
    /*border: 1px solid brown;*/
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    padding: 20px;
    margin-top: 5px;

    background: rgba(240, 74, 74, 0.8);
    color: white;
}

.vision{
    /*border: 1px solid black;*/
    width: 100%;
    overflow: hidden;
    padding-right: 90px;
}
.vision h2{
    /*border: 1px solid green;*/
    font-size: 20px;
    margin: auto;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background: #003B77;
    color: white;
}
.vision h3{
    /*border: 1px solid fuchsia;*/
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    padding: 20px;
    height: 100%;
    margin-top: 5px;

    background: rgba(0, 59, 119, .7);
    color: white;
}

.imagennosotros{
    /*border: 1px solid green;*/
    width: 60%;
    text-align: center;
}

.imagennosotros img{
    width: 250px;
}

/***** ZONA DE SERVICIOS *******/
.servicios{
    margin-top: 100px;
}

.zonaservicios{
    /*border: 1px solid red;*/
    padding: 20px 35px; /*Este padding la cambiaremos en el responsive*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tiposservicios{
    /*border: 1px solid purple;*/
    position: relative;
    width: 280px;
    max-width: 100%;
    height: 230px;
    margin: 20px;
    background: #F6F6F6;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tiposservicios img{
   /*border: 1px solid black;*/
   position: absolute;
   top: -20px;
   transition: all 0.5s; 
}

.tiposservicios h3{
    /*border: 1px solid red;*/
    width: 210px;
    text-align: center;
    font-weight: lighter;
    transition: all 0.5s;
}

.texto{
    /*border: 1px solid red;*/
    background: #F04A4A;
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 20px;
    opacity: 0;
    transition: all 0.5s;
}

.texto h4{
    /*border: 1px solid green;*/
    color: white;
    text-align: center;
}

.tiposservicios:hover h3, .tiposservicios:hover img {
    opacity: 0;
    transition: all 0.5s;
}
.tiposservicios:hover .texto{
    opacity: 1;
    border-radius: 100%;
    transition: all 1s;
}

/******** ZONA CLIENTES ************/

.sliderclientes{
    /*border: 1px solid red;*/
    width: 90%;
    margin: auto;
}

.sliderclientes .principalslick{
    /*border: 1px solid blue;*/
    padding: 10px 20px;
}

.sliderclientes .secundarioslick{
    /*border: 1px solid green;*/
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(231, 94, 94);
}

.sliderclientes h3{
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: lighter;
}

/********* ZONA DE TRABAJOS ******/

.trabajos{
    margin-top: 60px;
}

.slidertrabajos{
    /*border: 1px solid red;*/
    width: 90%;
    margin: auto;
}

.slidertrabajos .principalslick2{
    /*border: 1px solid blue;*/
    padding: 10px 20px;
}

.slidertrabajos .secundarioslick2{
    /*border: 1px solid green;*/
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: rgba(89, 173, 255, 0.8);
}

.slidertrabajos h3{
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: lighter;
    margin-bottom: 10px;
}

/******** ZONA CONTACTANOS ***********/

.contactanos{
    margin-top: 100px;
}

.formularioyubicanos{
    /*border: 1px solid red;*/
    display: flex;
    margin-top: 30px;
}

.formulario{
    /*border: 1px solid green;*/
    width: 100%;
    padding: 0px 30px;
}

.formulario h2{
    text-align: center;
    color: #F04A4A;
    border: 2px dotted #F04A4A;
    padding: 10px 0px;
    font-size: 20px;
    margin-top: 15px;
}

form{
    /*border: 1px solid blue;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 30px;
}

form h3{
    margin-bottom: 11px;
    font-size: 16px;
    font-weight: lighter;
}

.caja100{
    /*border: 2px solid peru;*/
    width: 100%;
}
.caja50{
    /*border: 2px solid red;*/
    width: 48%;
}
.caja50, .caja100{
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(178, 195, 240);
}
textarea:focus{
    outline: none;
}
input:focus{
     outline: none;
     border: 1px solid white;
     border-bottom: 1px solid #F04A4A;
     border-radius: 0px;
 }

form button{
    font-size: 16px;
    padding: 8px 20px;
    margin: auto;
    border: none;
    background: #F04A4A;
    color: white;
}

.ubicanos{
    width: 100%;
    /*padding-right: 30px;*/
}

.fondoubicanos{
    /*border: 1px solid purple;*/
    height: 100%;
    background: url('../img/fondocontactanos3.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fondoubicanos h3{
    /*color: white;*/
    font-size: 18px;
    font-weight: lighter;
    margin: 50px 0px;
}
.redessociales{
    /*border: 1px solid red;*/
    background: rgba(238, 235, 235, .8);
    border-radius: 5px;
}
.redessociales img{
    /*border: 1px solid yellow;*/
    width: 36px;
    margin: 15px 34px;
}

.locaciones{
    /*border: 1px solid brown;*/
    background: rgba(238, 235, 235, .8);
    padding: 10px 20px;
    border-radius: 5px;
}

.locaciones ul{
    /*border: 1px solid red;*/
}

.locaciones ul li{
    /*border: 1px solid yellow;*/
    list-style: none;
    display: flex;
    align-items: center;
    padding: 5px;
}

.locaciones ul li img{
    width: 20px;
    margin-right: 10px;
}

.locaciones ul li p{
    font-size: 14px;
}


/**ESTE ES EL LADO RESPONSIVE***/

@media screen and (max-width: 1050px){
    
    /*ZONA DEL MENU*/

    .logo h4{
        background: #003B77;
        padding: 5px;
        border-radius: 5px;
    }
    nav{
        position: absolute;
        width: 100%;
        height: 100vh;
        top: -100vh;
        left: 0;

        background: rgba(235, 94, 94, .9);
        border: none;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 0;
    }

    a{
        border-bottom: 1px solid rgba(255, 255, 255,.1);
    }

    .menu{
        display: block;
    }

    .aparicion{
        top: 65.13px;
        transition: all .5s;
    }

    /** ZONA DEL FONDO PRINCIPAL**/
    .fondo{
        align-items: center;
    }
    .fondo h1{
        margin-left: 0px;
        font-size: 35px;
        background: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 5px;
    }

    .fondo a{
        margin-left: 0px;
    }

    /****** ZONA NOSOTROS ********/

    .contskew .titulonosotros, .tituloservicios, .tituloclientes, .titulotrabajos, .titulocontactanos{
        top: 20px;
    }

    .titulonosotros img , .tituloservicios img, .tituloclientes img, .titulotrabajos img, .titulocontactanos img{
        width: 50px;
    }
    
    .titulonosotros h2 , .tituloservicios h2, .tituloclientes h2, .titulotrabajos h2, .titulocontactanos h2{
        font-size: 25px;
    }

    .mision{
        padding-left: 20px;
    }

    .vision{
        padding-right: 20px;
    }

    .imagennosotros{
        width: 40%;
    }

    .imagennosotros img{
        width: 210px;
    }

    /***** ZONA SERVICIOS *******/
    .zonaservicios{
        padding: 20px 0px;
    }

    /***ZONA CONACTANOS**/

    .formularioyubicanos{
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 900px){
    .logo h4{
        /*background: pink;*/
    }

    /***** ZONA NOSOTROS *****/
    
    .contnosotros{
        flex-wrap: wrap;
    }

    .imagennosotros img{
        display: none;
    }
}

@media screen and (max-width: 650px){
    .logo h4{
        /*background: green;*/
    }
    
    /**** ZONA FONDO PRINCIPAL*****/

    .fondo h1{
        font-size: 25px;
        padding: 12px;
    }

    /***** ZONA NOSOTROS *****/

    .titulonosotros img , .tituloservicios img, .tituloclientes img, .titulotrabajos img, .titulocontactanos img{
        width: 40px;
    }
    
    .titulonosotros h2 , .tituloservicios h2, .tituloclientes h2, .titulotrabajos h2, .titulocontactanos h2{
        font-size: 20px;
    }

    .concepto h3{
        font-size: 17px;
        padding: 30px 20px;
    }

    .misionyvision{
        flex-wrap: wrap;
    }

    .mision{
        padding-left: 0px;
    }

    .vision{
        padding-right: 0px;
        margin-top: 10px;
    }

    /****** ZONA CONTACTANOS *******/

    .caja50, .caja100{
        width: 100%;
    }
    
}
